* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://picsum.photos/1920/1080');
    
}

.game-mode {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.mode-select {
    background: white;
    padding: 30px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    border: 5px solid black;
    animation: modalfade 0.3s ease;
}

.mode-select button {
    margin: 10px;
    width: 180px;
    height: 50px;
    font-size: 15px;
}

.mode-select h2 {
    color: rgb(94, 1, 1);
    font-size: 50px;
}

@keyframes modalFade {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes blinkLine {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}

@keyframes glowLine {
    0% {
        box-shadow: 0 0 6px red;
    }
    50% {
        box-shadow: 0 0 22px red;
    }
    100% {
        box-shadow: 0 0 6px red;
    }
}

.win-line-blink {
    animation: blinkLine 0.8s infinite;
}

.win-line-glow {
    animation: glowLine 1.2s infinite;
}


.tittle {
    margin-bottom: 15px;
    font-size: 45px;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.game img {
    position: absolute;
    height: 12px;
    background-color: red;
    top: 0;
    left: 0;
    display: none;
    pointer-events: none;
    z-index: 10;
}

@keyframes blinkline {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
}

.win-line-blink {
    animation: blinkline 0.8s infinite;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    position: relative;
}

.slot {
    border: 5px solid black;
    cursor: pointer;
    font-size: 95px;
    text-align: center;
}

.slot:hover {
    background-color: rgb(213, 213, 213);
}

.slot:active {
    opacity: 0.5;
}

.one {
    border-left: none;
    border-top: none;
}

.two {
    border-top: none;
}

.three {
    border-right: none;
    border-top: none;
}

.four {
    border-left: none;
}

.six {
    border-right: none;
}

.seven {
    border-left: none;
    border-bottom: none;
}

.eigth {
    border-bottom: none;
}

.nine {
    border-right: none;
    border-bottom: none;
}

button {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    background-color: rgb(42, 43, 42);
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}
button:active {
    color: brown;
    opacity: 0.8;
}

.winner-message {
    color: red;
    text-align: center;
    margin-top: 15px;
    font-size: 40px;
}

.score {
    margin-top: 25px;
    font-size: 35px;
}

.games-played {
    color: rgb(47, 77, 1);
}

.player-score {
    color: blue;
}
    
.computer-score {
    color: red;
}

.draw-score {
    color: darkorange;
}

@media screen and  (width: 950px) {

    body {
        padding: 25px;
    }

    .container {
        width: 100%;
        padding: 15px;
    }
    

    .game {
        width: 90vw;
        height: 90vw;
        max-width: 360px;
        max-height: 360px;
        margin: 0 auto;
        position: relative;
        align-content: center;
        justify-content: center;
    }
       
        h1 {
        font-size: 1.5rem;
        text-align: center;
    }

        .game-mode {
        padding: 20px;
    }

    .mode-select {
        width: 90%;
    }

    .mode-select button {
        width: 100%;
        font-size: 1rem;
        margin: 10px 0;
    }

        .score p {
        font-size: 0.9rem;
        text-align: center;
        font-size: 35px;
    }

    .restart-button {
        margin: 0;
    }
}


